<h1>I'm Not Sorry</h1>

<iframe width="800" height="400" src="https://www.youtube.com/embed/-A96vsgB1EM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>
I live my life like this
Tell me how could I miss
Giving you everything you deserve
You know I be doin' the most
While you be back at home
I promise baby it could be worse
I'm out here gettin' my money
Everyday sunny
Steez on flame
I know, I know
Telling my chauffeur "Hurry up and wait"
Too too, he be like
Too too, time to hit that road
Zoom, you on your solo
While I'm takin' photos to post
Whoo, I know you feel crazy now
I'm sorry
No, I'm not sorry
I'm just getting started
And my life's a party
So I'm turnin', turnin', turnin', turnin', turnin' up
Said I'm turnin', turnin', turnin', turnin', turnin' up
Girl, I forgot about missin' you
Said, I forgot about missin' you
I've been too busy out gettin' my yaper
I ain't got time to be thinkin' bout you
I've been on your mind, true
Twenty racks on my wrist
Still I ain't got time for you
Home girls lookin' at me like
"What's up, what's up?
What's good, what's good
Where you at right now?
How long will you be on my side of town?"
Chillin' in Itaewon
Take a look at my passport now
I been gettin' that money, whoo
I ain't tryin' to hurt you
But I gotta keep it one hundred, yeah, whoo
The whole world know me now
I'm sorry
No, I'm not sorry
I'm just getting started
And my life's a party
So I'm turnin', turnin', turnin', turnin', turnin' up
Said I'm turnin', turnin', turnin', turnin', turnin' up
I'm sorry
No, I'm not sorry
I'm just getting started
And my life's a party
So I'm turnin', turnin', turnin', turnin', turnin' up
You know I'm turnin', turnin', turnin', turnin', turnin' up
Girl, I ain't thinkin' 'bout you
No, I ain't thinkin 'bout you
Girl, I ain't frontin', I'm really stuntin'
Just speaking the truth
Girl, you be lyin'
If you said you don't see me now
Watch me go on and act a fool
Hear me when I say
I'm sorry
No, I'm not sorry
I'm just getting started
And my life's a party
So I'm turnin', turnin', turnin', turnin', turnin' up
Said I'm turnin', turnin', turnin', turnin', turnin' up
I'm sorry
No, I'm not sorry
I'm just getting started
And my life's a party
So I'm turnin', turnin', turnin', turnin', turnin' up
You know I'm turnin', turnin', turnin', turnin', turnin' up
Turnin' up, turnin' up
Too busy turnin' up, turnin' up
I've been turnin' up, turnin' up
And I'm not sorry
I'm not sorry, baby
I'm not sorry
I'm not sorry, babe
I'm not sorry
I'm not sorry, baby
I'm not sorry
I'm not sorry, baby
I'm not sorry
I'm not sorry, baby
</p>

<p>작사: Han Sang Kim / Hyeok Kwon / Eric A. Bellinger / Gibson Jarah Lafayette
I'm Not Sorry 가사 © Sony/ATV Music Publishing LLC</p>